################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AnimalShelterTracking/.vs/AnimalShelterTracking/FileContentIndex
.vs/
/AnimalShelterTracking/AnimalShelter/Model/Member/IMemberRepo.cs
